h3{
  font-family: "Afacad Flux";
}

p{
  font-family: "Afacad Flux";
}

h2{
  font-family: "Afacad Flux";
}

h1{
  font-family: "Afacad Flux";
}

.nav{
    padding-left: 3em;
    padding-right: 3em;
    background-color: #fed88f;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
  height: 3em;
  width: auto;
  float: left;
  margin-right: .5em;
}

.logo-holder {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--body-color);
  font-weight: bold;
}

.container {
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    h1 {
        text-align: center;
    }
}

#slider {
  width: 100%;
  }

#slider div {
  aspect-ratio: 4 / 3;
  img {
    width: 100%;
    height: auto;
  }
}

.slick-prev:before,
.slick-next:before {
    color:black !important; 
}


.imgcontainter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
   
.imgholder1 {
    background-color: brown;
    display: flex;
    flex-direction: column;
    width: 50%;   
}

.port {
    width: 1000px;
    margin: 0 auto;
    h1 { text-align: center;
    }
    h2 { text-align: center;
    }
}

.port img {
  align-items: center;
  align-content: center;
  margin-left: 5%;
}



.artistcontainer {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 2em;
    margin-bottom: 2em;
   
}

.artistinfo img {
    display: block;
    width: 100%;
    height: auto;
}

.how-to-container{
  display: grid;
    grid-template-columns: 3fr 3fr;
    gap: 2em;
    margin-bottom: 2em;
}

.how-to-info img {
  display: block;
  width: 80%;
  height: auto;
}

.tutorialcontainer{
    padding-left: 7em;
    padding-right: 7em;
    h1 { text-align: center;
    }
    h2 { text-align: center;
    }
}

.tutorialcontainer img{
  align-content: center;
  padding-left: 5%;
  width: 90%;

}